In [2]:
import pandas as pd
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [73]:
data = pd.read_csv("/home/mike/Downloads/spam detection/SPAM text message 20170820 - Data.csv")

In [74]:
data.index

RangeIndex(start=0, stop=5572, step=1)

In [75]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [76]:
data.Category = data.Category.astype('category')

In [77]:
data.Message = data.Message.astype(str)

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   category
 1   Message   5572 non-null   object
dtypes: category(1), object(1)
memory usage: 49.2+ KB

In [79]:
y = data.pop('Category')

In [80]:
data

                                                Message
0     Go until jurong point, crazy.. Available only ...
1                         Ok lar... Joking wif u oni...
2     Free entry in 2 a wkly comp to win FA Cup fina...
3     U dun say so early hor... U c already then say...
4     Nah I don't think he goes to usf, he lives aro...
...                                                 ...
5567  This is the 2nd time we have tried 2 contact u...
5568               Will ü b going to esplanade fr home?
5569  Pity, * was in mood for that. So...any other s...
5570  The guy did some bitching but I acted like i'd...
5571                         Rofl. Its true to its name

[5572 rows x 1 columns]

In [86]:
data1 = np.array(str(data.Message))

In [88]:
len(data1)

TypeError: len() of unsized object

In [85]:
txt = tf.keras.preprocessing.text.text_to_word_sequence(
    data1,
    filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
    lower=True,
    split=' '
)

AttributeError: 'numpy.ndarray' object has no attribute 'lower'

In [72]:
len(txt)

108